.components > .MuiGrid-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.MuiGrid-grid-xs-11 {
  width: 80%;
}
.sorting-section {
  display: inline-flex;
  width: 300px;
  flex-direction: row;
}
.Reviews {
  flex-direction: column;
  align-items: stretch;
}
.hello {
  width: 100%;
  justify-content: center;
}

.Review-Rows {
  flex-grow: 1;
}
.rows {
  height: auto !important;
  flex-grow: 1;
}

.arr {
  display: flex;
  flex-grow: 1;
}

.rows:first-child {
  max-height: 500px;
}

div.MuiDialog-paperWidthSm {
  max-width: 900px;
}
.form-content3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.star-rating {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
.average-rating {
  font-size: 55px;
  margin: 10px;
}
.ratings {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list-of-ratings {
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
}
.ratingsBar span span.MuiSlider-thumb {
  width: 0;
  height: 0;
}
.char span.MuiSlider-thumbColorPrimary {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f00;
  background-color: transparent;
}
span.MuiSlider-mark {
  width: 4px;
  height: 5px;
  position: absolute;
  border-radius: 0;
  color: white;
}
div.list-of-character {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 40px;
  flex-direction: column;
}
span.MuiRating-root {
  color: #2c2c2c;
}
.MuiRating-sizeSmall {
  font-size: 18px;
}
span.MuiSlider-root {
  width: 150px;
}
span.MuiSlider-rail {
  height: 5px;
  color: #545454;
  flex-direction: row;
}
button.MuiButton-root {
  border-radius: 0;
  color: black;
}
.ratings-val-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingsValue {
  margin: 8px;
  font-size: 15px;
  align-items: center;
  text-decoration: underline;
}
span.MuiSlider-track {
  height: 5px;
  color: #0be613;
  flex-direction: column;
}
.clear {
  text-decoration: underline;
}
.response {
  background-color: lightgray;
  padding: 30px;
}

.response span {
  font-size: 14px;
}
/* .app-container {
  display: grid;
  grid-template-columns: [col-start] 1fr [start-main] minmax(500px, 1000px) [end-main] 1fr [col-end];
  grid-template-rows:
    [nav-row-start] 40px [details-row-start] minmax(100px, max-content)
    [related-row-start] minmax(100px, max-content) [outfit-row-start] minmax(
      100px,
      max-content
    )
    [q-and-a-row-start] minmax(100px, max-content)
    [ratings-reviews-row-start] minmax(100px, max-content)
    [ratings-reviews-row-end];
  grid-row-gap: 20px;
  justify-content: center;
} */

.nav {
  grid-row-start: nav-row-start;
  grid-row-end: details-row-start;
  grid-column-start: col-start;
  grid-column-end: col-end;
}

.product-details {
  grid-row-start: details-row-start;
  grid-row-end: related-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
  font-family: "Roboto", sans-serif;
}

.related-products {
  grid-row-start: related-row-start;
  grid-row-end: outfit-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.your-outfit {
  grid-row-start: outfit-row-start;
  grid-row-end: q-and-a-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.q-and-a {
  grid-row-start: q-and-a-row-start;
  grid-row-end: ratings-reviews-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;

  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.q-and-a-scroll {
  height: 350px;
  overflow: auto;
}

.q-a-button {
  border-radius: 0;
}
.question {
  display: flex;
}
.question-left {
  width: 60%;
}
.question-right {
  width: 40%;
}

.answer-block {
  margin: 10px;
  display: block;
}
.answer-detail {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.q-a-set {
  padding: 2px;
  margin: 5px;
  width: 100%;
}
.add-answer {
  display: inline;
}

span.yes-button {
  text-decoration: underline;
}
span.yes-button:hover {
  color: darkblue;
  cursor: pointer;
}
span.load-more:hover {
  color: darkblue;
  cursor: pointer;
}
.load-more {
  font-weight: bold;
  font-size: 14px;
}
.ratings-and-reviews {
  grid-row-start: ratings-reviews-row-start;
  grid-row-end: ratings-reviews-row-end;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 15px 0;
  font-size: 30px;
}

.main-img {
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  object-position: 50% 50%;
  display: grid;
  grid-template-columns: 75px;
  grid-row-gap: 20px;
  grid-template-rows: 5px repeat(5, 75px) 5px;
  padding: 30px 0 0 20px;
  cursor: zoom-in;
}

.list-image {
  background-position: 50% 50%;
  background-size: cover;
  object-position: 50% 50%;
  height: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.background-expanded-view {
  z-index: 49;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.image-expanded {
  z-index: 50;
  height: 85vh;
  width: 100%;
  position: relative;
  top: 5vh;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* .img-arrow {
  margin: 0 auto;
}

.top-arrow {
  margin-bottom: 5px;
}

.bottom-arrow {
  transform: rotate(180deg);
  margin-top: 10px;
} */

.stars-mockup {
  padding: 15px 0;
}

p.mockup {
  padding: 10px 0;
}

.style-bubbles {
  height: 180px;
  width: 430px;
}

.selects-container {
  display: flex;
  flex-direction: row;
  min-width: min-content;
}

.MuiSelect-select:focus {
  background-color: rgba(255, 255, 255, 0) !important;
}

.MuiInputLabel-shrink {
  transform: translate(-10px, -8px) scale(0.75) !important;
}

.MuiInputLabel-formControl {
  left: 10px !important;
}

#qty-label {
  padding-left: 2px !important;
}

.item-card-box {
  border: solid 1px;
  position: relative;
}

.PopOut {
  position: absolute;
  top: 0px;
  right: 0%;
}

.style-bubble-area {
  min-width: 370px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.selected-bubble-hack {
  height: 0;
}

.style-bubble {
  height: 61px;
  width: 61px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(119, 119, 119);
  margin: 12px;
  cursor: pointer;
}

.check-circle {
  position: relative;
  top: -72px;
  left: 58px;
  padding: 2px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(119, 119, 119);
}

.card-link {
  color: black;
  text-decoration: none;
}

.form-rows {
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.prod-slogan {
  margin: 0 0 10px;
}

.prod-description {
  font-size: 14px;
}

.checkmark-small {
  height: 10px;
  object-fit: cover;
}

.feature {
  display: flex;
  margin: 10px 0 10px 20px;
}

.feature-value {
  font-size: 14px;
  margin-left: 10px;
}
