.components > .MuiGrid-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.MuiGrid-grid-xs-11 {
  width: 70%;
}
.hello {
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.Reviews {
  flex-direction: column;
  align-items: stretch;
}

.Review-Rows {
  flex-grow: 1;
}
.rows {
  height: auto !important;
  flex-grow: 1;
}

.arr {
  display: flex;
  flex-grow: 1;
}

.rows:first-child {
  max-height: 500px;
}

/* .app-container {
  display: grid;
  grid-template-columns: [col-start] 1fr [start-main] minmax(500px, 1000px) [end-main] 1fr [col-end];
  grid-template-rows:
    [nav-row-start] 40px [details-row-start] minmax(100px, max-content)
    [related-row-start] minmax(100px, max-content) [outfit-row-start] minmax(
      100px,
      max-content
    )
    [q-and-a-row-start] minmax(100px, max-content)
    [ratings-reviews-row-start] minmax(100px, max-content)
    [ratings-reviews-row-end];
  grid-row-gap: 20px;
  justify-content: center;
} */

.nav {
  grid-row-start: nav-row-start;
  grid-row-end: details-row-start;
  grid-column-start: col-start;
  grid-column-end: col-end;
}

.product-details {
  grid-row-start: details-row-start;
  grid-row-end: related-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.related-products {
  grid-row-start: related-row-start;
  grid-row-end: outfit-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.your-outfit {
  grid-row-start: outfit-row-start;
  grid-row-end: q-and-a-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.q-and-a {
  grid-row-start: q-and-a-row-start;
  grid-row-end: ratings-reviews-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
  border: solid 1px;
}

.ratings-and-reviews {
  grid-row-start: ratings-reviews-row-start;
  grid-row-end: ratings-reviews-row-end;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 15px 0;
  font-size: 30px;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.stars-mockup {
  padding: 15px 0;
}

p.mockup {
  padding: 10px 0;
}

.style-bubbles {
  height: 180px;
  width: 430px;
}

.selects-container {
  display: flex;
  flex-direction: row;
  min-width: min-content;
}

.MuiSelect-select:focus {
  background-color: rgba(255, 255, 255, 0) !important;
}

.MuiInputLabel-shrink {
  transform: translate(-10px, -8px) scale(0.75) !important;
}

.MuiInputLabel-formControl {
  left: 10px !important;
}

#qty-label {
  padding-left: 2px !important;
}


.item-card {
  margin-left: 15 px;
  
}
