#app {
  font-family: "Roboto", sans-serif !important;
}

div.nav-bar-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.ratings-reviews-heading {
  font-size: 16px;
}
img.shop-box-logo {
  height: 52px;
}

.MuiAppBar-colorPrimary {
  background-color: white !important;
  height: 60px;
}

.components > .MuiGrid-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.MuiGrid-grid-xs-11 {
  width: 70%;
}
.MuiDialogContent-root {
  font-family: "Roboto", sans-serif;
}
div.reviews-search-bar {
  margin: 0;
  width: 100%;
}
.ratings-reviews-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.ratings-container {
  padding-right: 25px;
  width: 450px;
}
.reviews {
  flex-direction: column;
  align-items: stretch;
  padding-left: 25px;
  width: fit-content;
}

div.review-list-date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-root.loading {
  animation: rotation 2s infinite linear;
  height: 17px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sorting-section {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.sort-options {
  display: inline-flex;
  align-items: baseline;
  text-align-last: center;
}
.clear {
  box-sizing: content-box;
  border: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

.clear:hover {
  color: blue;
}

.product-stars-container {
  display: flex;
  align-items: center;
}

.review-link {
  text-decoration: underline;
  margin-left: 10px;
  font-size: 11px;
  cursor: pointer;
}

div.Review-Rows {
  width: 600px;
  max-height: 500px;
  overflow: scroll;
}

div.grid-reviews {
  max-height: 600px;
  overflow: scroll;
  flex-wrap: nowrap;
  flex-direction: column;
}

.rowEntry {
  padding-top: 20px;
  display: flex;
}

.stars-and-date {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

div.MuiExpansionPanelSummary-content {
  flex-direction: column;
}

div.MuiExpansionPanel-root:before {
  content: none;
}
div.expanded-container {
  border: 0;
  cursor: default;
  display: contents;
}

p.review-sent-text {
  font-size: 35px;
  text-align: center;
}

fieldset.review-sent-container {
  align-self: center;
  width: 100%;
  padding: 0;
  flex-direction: row;
  display: flex;
}

svg.review-sent-checkmark {
  width: 300px;
  height: 100px;
  fill: green;
}

div.expanded-view {
  box-sizing: content-box;
  width: 100%;
  padding: 0;
  word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.modal-review-img {
  height: 600px;
}
svg.recommended-check {
  height: 17px;
  width: 17px;
}
.recommended-text {
  color: rgba(0, 0, 0, 0.54);
}
.recommended {
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
}
.helpful-report-container {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.helpful-report-buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}
hr.review-divider {
  margin-top: 20px;
}
.form-subheading {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}
.form-overall-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}
.form-recommend-radio-buttons {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}
.hightlight {
  background-color: yellow;
  font-weight: bold;
}
.MuiTableCell-root.MuiTableCell-head {
  font-size: 16px;
}
th.form-header-char-name.MuiTableCell-root.MuiTableCell-head {
  padding-left: 0;
}
.form-content3 {
  display: flex;
  flex-direction: column;
}
div.review-sent-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

div.review-sent-dialog {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  z-index: 2;
}
p.review-sent-text {
  font-size: 40px;
  font-weight: bolder;
}
div.MuiExpansionPanelSummary-expandIcon.Mui-expanded {
  transform: none;
}
.MuiPaper-elevation1.characteristic-form-entries {
  border: 0;
  padding-bottom: 15px;
}

td.radio-cell {
  padding-right: 0;
}

td.MuiTableCell-alignRight {
  text-align: center;
}

th.MuiTableCell-alignRight {
  text-align: center;
}

label.table-radio-cell-label {
  margin-left: -11px;
}

span.MuiFormControlLabel-label {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}
.review-form-field {
  padding: 15px 0 15px 0;
}
span.MuiRating-iconHover {
  display: inline-flex;
}
.star-rating-review-form {
  display: flex;
  align-items: center;
}

.form-rating-container {
  display: flex;
  width: 120px;
  align-items: center;
}

div.review-form-textfield {
  width: 100%;
  top: 5px;
}
div.review-form-field .review-form-textfield .MuiInputLabel-outlined {
  left: 22px !important;
}

.add-review-modal .MuiDialog-paperWidthSm {
  max-width: 1000px;
}

.review-image {
  border: solid 1px;
  margin: 5px;
  height: 100px;
  width: 100px;
}

.rows:first-child {
  max-height: 500px;
}
.star-rating {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
.average-rating {
  font-size: 55px;
  margin: 10px;
}
.ratings {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span.filtered-ratings-num {
  font-size: 10px;
  border: 1px solid black;
  background-color: #e2e2e2c7;
  border-radius: 4px;
  padding: 1px;
  display: inline-flex;
  margin: 3px;
}
.filtered-ratings-container {
  display: flex;
  flex-direction: row;
}
.list-of-ratings {
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: column;
}
.ratingsBar span span.MuiSlider-thumb {
  width: 0;
  height: 0;
}
.ratingsBar span span.MuiSlider-rail {
  height: 7px;
}
.ratingsBar span span.MuiSlider-track {
  height: 7px;
}
.characteristic-slider span.MuiSlider-thumbColorPrimary {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f00;
  background-color: transparent;
  margin-top: -1.5px;
}
.characteristic-slider span.MuiSlider-markLabel {
  font-size: 10px;
  color: black;
}
.characteristic-slider span.MuiSlider-track {
  color: #545454;
  opacity: 0;
  width: 200px;
}

span.MuiSlider-mark {
  width: 6px;
  height: 5px;
  position: absolute;
  border-radius: 0;
  color: white;
}
span.MuiSlider-mark.MuiSlider-markActive {
  opacity: 1;
}
span.MuiSlider-mark.MuiSlider-markActive[style*="left: 0%;"] {
  opacity: 1;
  height: 0;
}

span.MuiSlider-markLabel[style*="left: 0%;"] {
  transform: none;
}
span.MuiSlider-markLabel[style*="left: 100%;"] {
  transform: none;
  left: 0% !important;
  margin-left: 95% !important;
}

span.MuiSlider-mark[style*="left: 100%;"] {
  opacity: 0.4;
  background-color: #545454;
}

div.characteristics-container {
  display: flex;
  width: fit-content;
  justify-content: center;
  padding-left: 0 !important;
}
div.list-of-characteristics {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.characteristic-entry {
  display: flex;
  flex-direction: column;
  padding: 14px 0 14px 0;
}
span.MuiSlider-mark[style*="left: 50%"] {
  background-color: #545454;
  opacity: 0;
}
span.MuiRating-root {
  color: #2c2c2c;
}
.MuiRating-sizeSmall {
  font-size: 18px;
}
span.MuiSlider-root {
  width: 150px;
  box-sizing: content-box;
  padding: 5px 5px 5px 0;
}
span.MuiSlider-root.characteristic-slider {
  width: 200px;
  cursor: default;
}
div.ratings-slider-container {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  padding: 8px 16px 22px 0 !important;
}

div.ratings-right-container {
  width: max-content;
}

.number-of-ratings {
  padding: 1px;
  font-size: 12px;
  width: 10px;
  display: inline-block;
}
span.MuiSlider-rail {
  height: 5px;
  color: #545454;
  flex-direction: row;
  border-radius: 0;
}
button.MuiButton-root {
  border-radius: 0;
  color: black;
}
.ratings-val-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingsValue {
  margin: 8px;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
}
span.MuiSlider-track {
  height: 5px;
  color: #0be613;
  flex-direction: column;
}
.response {
  background-color: lightgray;
  padding: 30px;
  width: 400px;
}

div.response-container {
  margin-left: 40px;
  display: flex;
}

.response span {
  font-size: 14px;
}
.review-list-entry {
  overflow-x: visible;
}
.MuiPaper-rounded {
  border-radius: 0px !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
  border: solid 1px;
}
.nav {
  grid-row-start: nav-row-start;
  grid-row-end: details-row-start;
  grid-column-start: col-start;
  grid-column-end: col-end;
}

.product-details {
  grid-row-start: details-row-start;
  grid-row-end: related-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
  font-family: "Roboto", sans-serif;
}

.related-products {
  grid-row-start: related-row-start;
  grid-row-end: outfit-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.your-outfit {
  grid-row-start: outfit-row-start;
  grid-row-end: q-and-a-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;
}

.q-and-a {
  grid-row-start: q-and-a-row-start;
  grid-row-end: ratings-reviews-row-start;
  grid-column-start: start-main;
  grid-column-end: end-main;

  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 100%;
  /* vertical-align: top; */
}

.q-and-a-scroll {
  max-height: 350px;
  overflow: auto;
}

.q-a-button {
  border-radius: 0;
}
.question {
  position: relative;
  /* margin-bottom: 10px; */
}
.question-title {
  position: absolute;
}

.question-block {
  position: relative;
  left: 25px;
}
.question-right {
  position: absolute;
  top: 0;
  right: 10px;
}

.q-a-buttons {
  display: flex;
}

.answer {
  position: relative;
  margin-bottom: 10px;
}
.answer-title {
  position: absolute;
}

.answer-block {
  position: relative;
  left: 25px;
}
.answer-photo {
  border: solid 1px;
  margin: 5px;
}
.answer-detail {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  /* margin-top: 5px; */
  margin-bottom: 5px;
}
.q-a-set {
  padding: 2px;
  margin: 5px;
  width: 100%;
}
.add-answer {
  display: inline;
}

span.yes-button {
  text-decoration: underline;
}
span.yes-button:hover {
  color: darkblue;
  cursor: pointer;
}
span.load-more:hover {
  color: darkblue;
  cursor: pointer;
}
.load-more {
  font-weight: bold;
  font-size: 14px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 15px 0;
  font-size: 30px;
}

.main-img {
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  object-position: 50% 50%;
  display: grid;
  grid-template-columns: 75px;
  grid-row-gap: 20px;
  grid-template-rows: 5px repeat(5, 75px) 5px;
  padding: 30px 0 0 20px;
  cursor: zoom-in;
}

.list-image {
  background-position: 50% 50%;
  background-size: cover;
  object-position: 50% 50%;
  height: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.selected-image {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8); */
}

/* .img-arrow {
  margin: 0 auto;
}

.top-arrow {
  margin-bottom: 5px;
}

.bottom-arrow {
  transform: rotate(180deg);
  margin-top: 10px;
} */

.stars-mockup {
  padding: 15px 0;
}

p.mockup {
  padding: 10px 0;
}

.style-bubbles {
  height: 180px;
  width: 430px;
}

.selects-container {
  display: flex;
  flex-direction: row;
  min-width: min-content;
}

.MuiSelect-select:focus {
  background-color: rgba(255, 255, 255, 0) !important;
}

.MuiInputLabel-shrink {
  transform: translate(-10px, -8px) scale(0.75) !important;
}

.MuiInputLabel-formControl {
  left: 10px !important;
}

#qty-label {
  padding-left: 2px !important;
}

.share-container {
  position: relative;
  left: 5px;
  top: -18px;
  height: 10px;
  display: flex;
  flex-direction: column;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.makeStyles-shareButton-111 {
  min-width: 30px !important;
}

.share-button {
  margin: 1px;
  cursor: pointer;
}

.share-button:focus {
  outline: none;
}

.item-card-box {
  border: solid 1px;
  position: relative;
}

.PopOut {
  position: absolute;
  top: 0px;
  right: 0%;
}

.style-bubble-area {
  min-width: 370px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.selected-bubble-hack {
  height: 0;
}

.style-bubble {
  height: 61px;
  width: 61px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(119, 119, 119);
  margin: 12px;
  cursor: pointer;
}

.check-circle {
  position: relative;
  top: -72px;
  left: 58px;
  padding: 2px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(119, 119, 119);
}

.card-link {
  color: black;
  text-decoration: none;
}

.form-rows {
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.out-of-stock {
  height: 200px;
  min-width: 250px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 290px;
}

.prod-slogan {
  margin: 0 0 10px;
}

.prod-description {
  font-size: 14px;
}

.checkmark-small {
  height: 10px;
  object-fit: cover;
}

.feature {
  display: flex;
  margin: 10px 0 10px 20px;
}

.feature-value {
  font-size: 14px;
  margin-left: 10px;
}

#addOutfit-card-box {
  background-color: blanchedalmond;
}

.related-product-card-description {
  height: 3em;
}

.MuiCard-root {
  height: 99%;
}

#no-review-text {
  height: 18px;
  padding: 0px 10px 15px 10px;
}

.item-list-carousel {
  height: 350px;
}

.hidden {
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px) !important;
}

.hidden2 {
  display: none;
}

.background-expanded-view {
  z-index: 49;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-expanded {
  z-index: 50;
  height: 85vh;
  width: auto;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: cell;
}

.zoom-view-background {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 52;
}
.zoom-view {
  --x: 0px;
  --y: 0px;
  background-size: 250%;
  background-position: var(--x) var(--y);
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
  z-index: 53;
  cursor: zoom-out;
}

#qty-label {
  color: rgba(0, 0, 0, 0.55) !important;
}
